/* Nav */

.navHead{
  color: orangered;
  background: peachpuff;
  border-radius: 50%;
}
.cursive{
  font-family: 'Lobster', cursive;
}



/* Calculator */

.result {
  height: 60px;
  background-color: #bbb;
  width: 100%;
}

.result p {
  font-size: 40px;
  margin: 5px;

}

.calculator-body {
  max-width: 400px;
  margin: auto;
}

.button {
  display: block;
  background-color: #bbb;
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
}





















Portfolio
.topSkewedBox {
  background: #5C73EA;
  padding: 100px 0;
  transform: skew(2deg, -5deg) translateY(-95px);
  position: relative;
}

/* Masai Training */
.statics {
  display: flex;
  padding: 1.6em 0rem;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}

.statics>div {
  width: 22%;
  margin: 0rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.statics>div>div {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  border: 10px solid black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.statics>div>span {
  font-size: 1rem;
  color: #000;
  margin: 0.5rem 0;
}

@media only screen and (max-width: 600px) {
  .statics>div {
      width: 45%;
  }
}


/*portfolio top */
.top0{
  height: 50px;
}
.top1{
  background-color: rgba(233,236,239,0); margin-top: -220px; position: relative;
}
.top2{
  width: 200px;border-radius:100px; border:15px solid #5C73EA;
}
.top3{
  color: #222222;
}
.top4{
  color: #5C73EA; margin: 5px;
}
.top5{
  color: #5C73EA;
}
.top6{
  width:90px;padding: 12px;
}
.top7{
  width: 90px;padding: 12px;
}
.top8{
  width: 90px;padding: 12px;
}